main {
    display: flex;
    width: 1920px;
}


.text_box {
    background-color: #515DEF;
    width: 1112px;
    height: 783px;
    padding-top: 160px;
}

.text_box p,.text_box h2 {
    margin-bottom: 0;
    margin-left: 160px;
    color: white;
    line-height: 40px;
}

.text_box p {
    font-size: 24px;
}

.text_box h2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
    line-height: 80px;
}

.main_btn {
    display: inline-block;
    width: 299px;
    height: 80px;
    font-size: 24px;
    background-color: white;
    color: black;
    border: none;
    margin-left: 160px;
    margin-top: 70px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
}

.main_btn:hover{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.main_btn img {
    margin-left: 8px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}